.sidebar_timer {
  text-align: center;
  font-family: "Helvetica Neue", "Open Sans", helvetica, arial, sans-serif;
  font-size: 3em;
  font-weight: 100;
  color: #FFF;
  text-shadow: 0 0 20px #48C8FF;
}
.sidebar_timer div {
  display: inline-block;
  min-width: 90px;
}
.sidebar_timer div span {
  color: #B1CDF1;
  display: block;
  font-size: .35em;
  font-weight: 400;
}

.sidebar_since { 
  text-shadow: 0 0 10px #48C8FF;
  color: #B1CDF1;
  display: block;
  font-size: .35em;
  font-weight: 400;
  padding-bottom: 10px;
}